---

import "@/styles/main.scss"

import Head from "@/includes/Head/Head.astro"


export interface Props {
  title?: string
  description?: string | null
  image?: string
  noindex?: boolean
  canonical?: string
}


export const HTML_DOCUMENT_LANG = "en"

const { title, description, image, noindex, canonical } = Astro.props
---

<!DOCTYPE html>
<html lang={HTML_DOCUMENT_LANG}>

<slot name="head">
  <Head title={title} description={description} image={image} noindex={noindex} canonical={canonical} />
</slot>

<slot name="pre" />

<body>
  <slot name="header" />
  <slot />
  <slot name="footer" />
</body>

 <slot name="post" />
</html>
